{{> head }}
{{> navbar }}

<div>
    <div class="col-8">
        <h1>Esta es la página about...</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam officia nihil minima nisi, quasi tempora assumenda, libero eius sequi error ipsum quas eum hic culpa repellendus illo accusamus incidunt modi.</p>
    </div>
    <div class="col-4 ">
        <img class="img-thumbnail" src="assets/img/nba.jpg">
    </div>
</div>
{{> footer }}